<h1><%= @game.name %></h1>

<div class="row-fluid">
  <div class="span6">
    <h2>Fuld Rankliste</h2>
    <table>
      <thead>
        <tr>
          <th>Spiller</th>
          <th>Point</th>
          <th><abbr title='Vundet'>V</abbr></th>
          <th><abbr title='Tabte'>T</abbr></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'games/rating', collection: @game.all_ratings %>
      </tbody>
    </table>
  </div>
</div>
